tests/Fixtures/schema/transformers/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/transformers"
           xmlns="http://example.org/transformers"
           elementFormDefault="qualified">
    <xs:complexType name="VersionedListType">
        <xs:attribute name="ListURI" type="xs:anyURI"/>
        <xs:attribute name="ListVersionID" type="xs:token"/>
    </xs:complexType>
</xs:schema>
